DISCORD_CLIENT_ID=TON_CLIENT_ID
DISCORD_CLIENT_SECRET=TON_CLIENT_SECRET
DISCORD_REDIRECT_URI=https://cas-industries-saas-production.up.railway.app/auth/discord/callback
SESSION_SECRET=casindustries2024secretkey123456789
ADMIN_DISCORD_ID=TON_DISCORD_ID
DISCORD_BOT_TOKEN=TON_BOT_TOKEN
DISCORD_GUILD_ID=TON_GUILD_ID
DISCORD_AFFILIATE_ROLE_ID=TON_ROLE_ID
DISCORD_NOTIF_CHANNEL=TON_CHANNEL_ID
PORT=3000
